<!-- references -->
<!-- https://flask.palletsprojects.com/en/stable/patterns/flashing/ -->
<!-- https://www.w3schools.com/Tags/att_button_type.asp -->
<!-- https://www.w3schools.com/html/html_forms.asp -->
 
<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
 
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
             <link rel="stylesheet" href="../static/style.css">
            <title> Earning Report</title>
        </head>
        <body>
            <!-- nav bar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
               
                    <a class="navbar-brand logo" href="{{ url_for('driver') }}">Driver Dashboard</a>
            
                
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('Pickup_request') }}">Pickup Request</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('Earning_report') }}">Earning Report</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('Dprofile') }}">Profile</a></li>
                            
                        </ul>
            
                     
                        <div class="d-flex align-items-center">
                            <a href="{{ url_for('logout') }}" class="btn logout me-2">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>        
        </body>
</html>