<!-- references -->
<!-- https://flask.palletsprojects.com/en/stable/patterns/flashing/ -->
<!-- https://www.w3schools.com/Tags/att_button_type.asp -->
<!-- https://www.w3schools.com/html/html_forms.asp -->

<!-- creation of promotion gallery / form-->
<!-- https://www.youtube.com/watch?v=YLptAhf3wwM&list=LL&index=5&t=886s -->
<!-- https://stackoverflow.com/questions/11226489/show-hide-forms-using-buttons-and-javascript -->
<!-- https://stackoverflow.com/questions/5865408/javascript-css-show-and-hide-form-elements -->
<!-- https://stackoverflow.com/questions/10671174/changing-button-text-onclick -->
<!-- https://stackoverflow.com/questions/4526273/what-does-enctype-multipart-form-data-mean-->
<!-- https://www.youtube.com/watch?v=2De9Lu9tReg  Foundation -->
<!-- https://www.youtube.com/watch?v=YLptAhf3wwM&t=963s Deleting Images -->
<!-- https://www.youtube.com/watch?v=WX-ZZvUg2Kw      help with JINJA -->
 
<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
 
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
             <link rel="stylesheet" href="../static/style.css">
            <title> Food Marketplace </title>

        </head>
        <body>

            <!-- nav bar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
               
                    <a class="navbar-brand logo" href="{{ url_for('foodOwner') }}">Food Promotor Dashboard</a>
            
                
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('postPromotion') }}">Post Promotion</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('Fprofile') }}">Profile</a></li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="{{url_for('subscription') }}">
                                </a>
                            </li>
                        </ul>
            
                     
                        <div class="d-flex align-items-center">
                            <a href="{{url_for('subscription') }}" class="btn Subscribe">Subscription</a>
                            <a href="{{ url_for('logout') }}" class="btn logout me-2">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- used to display flash messages when called-->
            <div class = "flash">
                {% with messages = get_flashed_messages(with_categories = true)%}
                {% if messages%}
                    {% for category, message in messages%}
                    <div class = "{{ category }}"><h2>{{message}}</h2></div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
            </div>
            
            <h1>Food Promotion Page</h1>
            <button class = "formButton" id = "formButton" onclick = "hideForm()">Add Promotion</button>
            
             
        
            
            <!-- Form used to add images to the slideshow -->
            <form id = "upload" action="/postPromotion" method="POST" class = "upload" enctype="multipart/form-data" style="display: none";> <!-- hidden at first until add image button is pressed-->
                <h3>Advertisement Submission</h3>
                <input type = "text" name = "caption" placeholder = "Enter caption">
                <input type = "file" name = "image"  placeholder = "Add Image">
                <button type = "submit">Upload Promotion</button>
            </form>
            <br>
            <br>
            <div id = "advertisement">
                <h1>Billboard</h1>
                
            </div>
            
            <!-- Interactive slideshow that checks each image in Promotion and displays them-->
            <div id="promotions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for promotion in promotions %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}"> <!-- used to loop through-->
                            <img src="{{ url_for('static', filename = promotion.image.replace('\\', '/')) }}" class="d-block w-100" alt="Promotion Image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ promotion.caption }}</h5>
                                <a href="{{ url_for('deleteImage', id=promotion.id)}}">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <!-- Buttons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#promotions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#promotions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <!-- Gap to put space underneath slideshow-->
            <br><br>
            

           
       
    
            
            <!-- function used to hide the form and reappear it -->
            <script>
                function hideForm(){
                    var form = document.getElementById("upload")
                    var button = document.getElementById("formButton")
                    if(form.style.display == "block"){
                        form.style.display = "none";
                        button.textContent = "Add Promotion";
                    }
                    else{
                        form.style.display = "block";
                       
                        button.textContent = "Hide Form";
                    }
                }
            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>        
        </body>
</html>